<div class="container">
    <h3>Filtros</h3>
    <hr>
    <form id="filters">
        <div class="mb-3">
            <label>Filtrar por marca</label>
            <hr>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Seleccione una </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
       
        <div class="mb-3">
            <label>Filtrar por tienda</label>
            <hr>
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Seleccione una </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="releaseDate">Filtrar por fecha de lanzamiento</label>
            <hr>
            <input type="date" id="releaseDate">
        </div>
        <label >Filtrar por modelo</label>
        <hr>
        <div class="mb-3 d-flex">
            <input class="form-control me-2" type="search" placeholder="Modelo" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
        </div>
    </form>
</div>