<div class="container d-flex justify-content-center">
    <div class="basic-form">
        <h2 class="form-title">Registro de Tiendas</h2>
        <app-error-alert *ngIf="isError" [message]="errorContent"></app-error-alert>
        <app-success-alert *ngIf="succeed" [message]="successMessage"></app-success-alert>
        <form (submit)="onSubmit(f)"  #f="ngForm">
            <div class="mb-3 col-12">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name" ngModel name="name" required #name ="ngModel" minlength="2">
                <span class="error" *ngIf="!name.valid && name.touched" >Por favor introduzca el nombre de la marca, debe tener al menos 2 caracteres</span>
                <hr>
            </div>
            <div class="mb-3 col-12">
                <label for="customRange2" class="form-label">Rating: {{rating.value}}</label>
                <input type="range" class="form-range" value="0" min="0" max="5" id="rating" required  ngModel name="rating" #rating="ngModel">
                <hr>
            </div>
            <div class="row">
                <div class="spinner-border text-success" role="status" *ngIf="isLoading" >
                </div>
                <button type="submit" class="btn btn-success" [disabled]="!f.valid" *ngIf="!isLoading">Registrar Tienda</button>
            </div>

        </form>
    </div>
</div>
