/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body { height: 100%; color: #000431; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.basic-form {
    padding: 5%;
}

.form-title {
    text-decoration: underline;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.error {
    color: red;
}