<div class="container d-flex justify-content-center">
    <div class="basic-form">
        <h2 class="form-title">Registro de Usuarios</h2>
        <form class="row">
            <div class="mb-3 col-6">
                <label for="name" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="name">
                <hr>
            </div>
            <div class="mb-3 col-6">
                <label for="lastname" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="lastname">
                <hr>
            </div>
            <div class="mb-3 col-8">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email">
                <hr>
            </div>
            <div class="mb-3 col-4">
                <label for="fecha-nac" class="form-label">Fecha de Nacimiento</label>
                <input type="date" class="form-control" id="fecha-nac">
                <hr>
            </div>
            <div class="mb-3 col-6">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password">
                <hr>
            </div>
            <div class="mb-3 col-6">
                <label for="confirm-password" class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control" id="confirm-password">
                <hr>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-success">Registrar Usuario</button>
            </div>
            
        </form>
    </div>
</div>